/*
Charles Cope
10/21/2021
Styling for school project web page
10/23/2021, added styles for centering picture(h5) and other items
10/26/2021, added for table
*/

h1 {
Color: red;
text-align: center;

}
h2 {text-align: center;  

}
body {background-color: cadetblue;
border-style: inset;
border-width: 10px;

margin: 15px;
margin-bottom: 0px;
padding-left: 30px;
padding-right: 30px;
padding-top: 15px;
padding-bottom: 5px;

}
img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}
header{
text-align: center;
font-size: 15px;

}
nav a {
    color: #f2f2f2;
    padding: 14px 16px;
    text-transform: uppercase;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}
p {
font-size: 120%;
text-align: center;
column-count: auto;
justify-content: center;
}

h5{
text-align: center;

}

footer{
    text-align: center;
    border-top-style: outset;
    padding-top: 15px;
padding-bottom: 0px;
    
}


.container {
    height: 200px;
    position: relative;
    
  }
  
  .center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
